@{
    ViewData["Title"] = "HeadHunter";
}

<div id="Headhunter" class="container" style="background-color: #060433; min-width: 400px">
    <div class="row" style="background-color: #161443;">
        <div id="HeadhunterHead" class="col-12 text-center mt-5">
            HeadHunter
        </div>
    </div>
    <div class="row">
        <div id="HeadhunterText" class="col-12" style="background-color: #161443;">
            <p class="text-center">
                С помощью HeadHunter API вы можете получать информацию о соискателях и компаниях,
                а также использовать функциональность HeadHunter для своего сайта или приложения.
            </p>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div id="HeadhunterText" class="col-12 mt-3">
            <p class="text-justify">
                API (программный интерфейс приложения, интерфейс прикладного программирования) —
                набор готовых классов, процедур, функций, структур и констант, предоставляемых
                приложением (библиотекой, сервисом) или операционной системой для использования
                во внешних программных продуктах. Используется программистами при написании
                всевозможных приложений.
            </p>
        </div>
    </div>

    <div class="row justify-content-center align-items-center" style="background-color: #161443;">
        <div id="HeadhunterText" class="col-12 mt-3">
            <p class="text-center">
                Ниже представлены изображения консольного приложения, которое использует API.HH.RU для сбора и анализа информации.
            </p>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div id="HeadhunterText" class="col-12 mt-3">
            <p class="text-center">
                <img src="~/Images/HeadHunter/1.jpg" class="img-fluid" />
            </p>
        </div>
    </div>

    <div class="row justify-content-center align-items-center" style="background-color: #161443;">
        <div id="HeadhunterText" class="col-12 mt-3">
            <p class="text-center">
                <img src="~/Images/HeadHunter/2.jpg" class="img-fluid" />
            </p>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div id="HeadhunterText" class="col-12 mt-3">
            <p class="text-center">
                <img src="~/Images/HeadHunter/3.jpg" class="img-fluid" />
            </p>
        </div>
    </div>

    <div class="row justify-content-center align-items-center" style="background-color: #161443;">
        <div id="HeadhunterText" class="col-12 mt-3">
            <p class="text-center">
                По <a href="~/Sources/HH.zip"> это ссылке </a> можно забрать исходники и консольное приложение.
            </p>
        </div>
    </div>


    <div class="row">
    </div>
</div>


@section Insert_Styles{
    <link rel="stylesheet" href="~/Styles/Headhunter.css" />
}

@section Scripts{

}

